In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)



from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import cross_val_predict, GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from xgboost import XGBRegressor

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn.metrics import mean_absolute_error, mean_squared_error

In [1]:
!git clone https://github.com/anvarnarz/praktikum_datasets.git

Cloning into 'praktikum_datasets'...
remote: Enumerating objects: 145, done.
remote: Counting objects: 100% (52/52), done.
remote: Compressing objects: 100% (9/9), done.
remote: Total 145 (delta 46), reused 44 (delta 43), pack-reused 93
Receiving objects: 100% (145/145), 9.72 MiB | 10.88 MiB/s, done.
Resolving deltas: 100% (53/53), done.

In [3]:
df=pd.read_csv("/content/praktikum_datasets/Foreign_Exchange_Rates.csv",index_col=0)
df

,Time Serie,AUSTRALIA - AUSTRALIAN DOLLAR/US$,EURO AREA - EURO/US$,NEW ZEALAND - NEW ZELAND DOLLAR/US$,UNITED KINGDOM - UNITED KINGDOM POUND/US$,BRAZIL - REAL/US$,CANADA - CANADIAN DOLLAR/US$,CHINA - YUAN/US$,HONG KONG - HONG KONG DOLLAR/US$,INDIA - INDIAN RUPEE/US$,...,SINGAPORE - SINGAPORE DOLLAR/US$,DENMARK - DANISH KRONE/US$,JAPAN - YEN/US$,MALAYSIA - RINGGIT/US$,NORWAY - NORWEGIAN KRONE/US$,SWEDEN - KRONA/US$,SRI LANKA - SRI LANKAN RUPEE/US$,SWITZERLAND - FRANC/US$,TAIWAN - NEW TAIWAN DOLLAR/US$,THAILAND - BAHT/US$
0,2000-01-03,1.5172,0.9847,1.9033,0.6146,1.805,1.4465,8.2798,7.7765,43.55,...,1.6563,7.329,101.7,3.8,7.964,8.443,72.3,1.5808,31.38,36.97
1,2000-01-04,1.5239,0.97,1.9238,0.6109,1.8405,1.4518,8.2799,7.7775,43.55,...,1.6535,7.218,103.09,3.8,7.934,8.36,72.65,1.5565,30.6,37.13
2,2000-01-05,1.5267,0.9676,1.9339,0.6092,1.856,1.4518,8.2798,7.778,43.55,...,1.656,7.208,103.77,3.8,7.935,8.353,72.95,1.5526,30.8,37.1
3,2000-01-06,1.5291,0.9686,1.9436,0.607,1.84,1.4571,8.2797,7.7785,43.55,...,1.6655,7.2125,105.19,3.8,7.94,8.3675,72.95,1.554,31.75,37.62
4,2000-01-07,1.5272,0.9714,1.938,0.6104,1.831,1.4505,8.2794,7.7783,43.55,...,1.6625,7.2285,105.17,3.8,7.966,8.415,73.15,1.5623,30.85,37.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5212,2019-12-25,ND,ND,ND,ND,ND,ND,ND,ND,ND,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
5213,2019-12-26,1.4411,0.9007,1.5002,0.7688,4.0602,1.3124,6.9949,7.788,71.28,...,1.354,6.7295,109.67,4.1337,8.8799,9.4108,181.3,0.9808,30.11,30.15
5214,2019-12-27,1.4331,0.8949,1.4919,0.7639,4.0507,1.3073,6.9954,7.7874,71.45,...,1.352,6.6829,109.47,4.126,8.8291,9.3405,181.35,0.9741,30.09,30.14
5215,2019-12-30,1.4278,0.8915,1.4846,0.761,4.0152,1.3058,6.9864,7.7857,71.3,...,1.3483,6.6589,108.85,4.1053,8.7839,9.3145,181.6,0.9677,30.04,29.94
5216,2019-12-31,1.4225,0.8907,1.4826,0.7536,4.019,1.2962,6.9618,7.7894,71.36,...,1.3446,6.6554,108.67,4.0918,8.7823,9.3425,181.3,0.9677,29.91,29.75

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5217 entries, 0 to 5216
Data columns (total 23 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Time Serie                                 5217 non-null   object
 1   AUSTRALIA - AUSTRALIAN DOLLAR/US$          5217 non-null   object
 2   EURO AREA - EURO/US$                       5217 non-null   object
 3   NEW ZEALAND - NEW ZELAND DOLLAR/US$        5217 non-null   object
 4   UNITED KINGDOM - UNITED KINGDOM POUND/US$  5217 non-null   object
 5   BRAZIL - REAL/US$                          5217 non-null   object
 6   CANADA - CANADIAN DOLLAR/US$               5217 non-null   object
 7   CHINA - YUAN/US$                           5217 non-null   object
 8   HONG KONG - HONG KONG DOLLAR/US$           5217 non-null   object
 9   INDIA - INDIAN RUPEE/US$                   5217 non-null   object
 10  KOREA - WON/US$                            5217 non-null   object
 11  MEXICO - MEXICAN PESO/US$                  5217 non-null   object
 12  SOUTH AFRICA - RAND/US$                    5217 non-null   object
 13  SINGAPORE - SINGAPORE DOLLAR/US$           5217 non-null   object
 14  DENMARK - DANISH KRONE/US$                 5217 non-null   object
 15  JAPAN - YEN/US$                            5217 non-null   object
 16  MALAYSIA - RINGGIT/US$                     5217 non-null   object
 17  NORWAY - NORWEGIAN KRONE/US$               5217 non-null   object
 18  SWEDEN - KRONA/US$                         5217 non-null   object
 19  SRI LANKA - SRI LANKAN RUPEE/US$           5217 non-null   object
 20  SWITZERLAND - FRANC/US$                    5217 non-null   object
 21  TAIWAN - NEW TAIWAN DOLLAR/US$             5217 non-null   object
 22  THAILAND - BAHT/US$                        5217 non-null   object
dtypes: object(23)
memory usage: 978.2+ KB

In [ ]:
df.iloc('ND')

In [17]:
df.replace(['ND', 0], inplace=True)

In [18]:
df.isna().sum()

Time Serie                                   0
AUSTRALIA - AUSTRALIAN DOLLAR/US$            0
EURO AREA - EURO/US$                         0
NEW ZEALAND - NEW ZELAND DOLLAR/US$          0
UNITED KINGDOM - UNITED KINGDOM POUND/US$    0
BRAZIL - REAL/US$                            0
CANADA - CANADIAN DOLLAR/US$                 0
CHINA - YUAN/US$                             0
HONG KONG - HONG KONG DOLLAR/US$             0
INDIA - INDIAN RUPEE/US$                     0
KOREA - WON/US$                              0
MEXICO - MEXICAN PESO/US$                    0
SOUTH AFRICA - RAND/US$                      0
SINGAPORE - SINGAPORE DOLLAR/US$             0
DENMARK - DANISH KRONE/US$                   0
JAPAN - YEN/US$                              0
MALAYSIA - RINGGIT/US$                       0
NORWAY - NORWEGIAN KRONE/US$                 0
SWEDEN - KRONA/US$                           0
SRI LANKA - SRI LANKAN RUPEE/US$             0
SWITZERLAND - FRANC/US$                      0
TAIWAN - NEW TAIWAN DOLLAR/US$               0
THAILAND - BAHT/US$                          0
dtype: int64

In [19]:
X = df.drop('EURO AREA - EURO/US$', axis = 1)
y = df['EURO AREA - EURO/US$']

In [20]:
X_dummy = pd.get_dummies(X)

In [21]:
X_dummy.shape

(5217, 65374)

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X_dummy, y, test_size=0.2, random_state=42)

In [23]:
scaler = MinMaxScaler()
X_train_prepared = scaler.fit_transform(X_train)
X_test_prepared = scaler.transform(X_test)

#Destigion tree

In [24]:
model_tree = DecisionTreeRegressor()
model_tree.fit(X = X_train_prepared, y=y_train)
pred_rf = model_tree.predict(X_test_prepared)
mae = mean_absolute_error(y_test, pred_rf)
mse = mean_squared_error(y_test, pred_rf)
print("MAE=", mae)
print("RMSE=", np.sqrt(mse))

MAE= 0.0522845785440613
RMSE= 0.09032338999225774

#RandomForestRegressor

In [29]:
FR_model = RandomForestRegressor()
FR_model.fit(X_train_prepared, y_train)
pred_rf = FR_model.predict(X_test_prepared)
mae = mean_absolute_error(y_test, pred_rf)
mse = mean_squared_error(y_test, pred_rf)
print("MAE=", mae)
print("RMSE=", np.sqrt(mse))

KeyboardInterrupt: ignored

#XGBRegressor

In [26]:
model_xgb = XGBRegressor()
model_xgb.fit(X= X_train_prepared, y=y_train)
pred_rf = model_xgb.predict(X_test_prepared)
mae = mean_absolute_error(y_test, pred_rf)
mse = mean_squared_error(y_test, pred_rf)
print("MAE=", mae)
print("RMSE=", np.sqrt(mse))

MAE= 0.05803883657327557
RMSE= 0.07107980250360015